@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 34px;
}

.calculator-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: black;
    border-radius: 5px;
    
}

.display-buttons {
    width: 360px;
    height: 560px;
    /* border: 3px solid grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    width: 360px;
    height: 100px;
    background-color: #989898;
    text-align: right;
}

.display > p {
    margin-top: 20px;
    font-size: 50px;
    word-wrap: break-word;
}
.buttons {
    width: 360px;
    height: 435px;
    margin-top: 10px;
    /* margin-right: 5px; */
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.button{
   border-radius: 6px;
}

.zero {
    grid-column: span 2;
}

.upper {
    background-color: #097969;
}

.symbols {
    background-color: #CE3863;
}

.number {
    background-color: #F39312 ;
}